@import "tailwindcss";

/* You can still keep some global styles if you want */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply your Tailwind theme colors globally */
/* body {
  @apply bg-background text-text;
} */

a, button {
  cursor: pointer;
}